# Binaries
**/bin/*
**/bin-int/*
Intermediates/

# Log files
*.log

# Directories

# Imgui ini
imgui.ini

# IDE files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
*.DotSettings.user