[submodule "Mashenka/vendor/spdlog"]
	path = Mashenka/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mashenka/vendor/GLFW"]
	path = Mashenka/vendor/GLFW
	url = https://github.com/vladimirSirin/glfw
