# Binaries
**/bin/
!vendor/bin/premake/
bin-int/
Intermediates/


# Log files
*.log

# Profile data
**/profile-data/

# Directories

# IDE files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
*.DotSettings.user